html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - 40px);
}

.navbar {
	width: 100%;
	height: 40px;
	display: flex;
	text-align: center;
}

.button {
	font-size: 20px;
}

.btn-show-menu {
	padding: 0 10px;
	margin: auto 0;
	position: absolute;
	top: 5px;
}

.btn-hide-menu {
	padding: 10px 15px;
	margin: 0 0 0 auto;
	float: right;
	font-size: 20px;
	color: white;
	text-align: right;
}

.title {
	display: inline-block;
	padding: 0;
	margin: auto;
}

.menu {
	background: #3A4045;
	width: 0;
	position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    transition: 0.4s;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* start with menu open on large screens, avoids transition lag during
page load when `showMenu` is called */
@media (min-width: 1000px) {
	.menu {
		width: 240px;
	}
}

.search-area {
	margin: 0 0 10px 0;
	padding: 0 9px;
}

.search-box {
	font-size: 14px;
	width: 214px;
}

.menu-rule {
	color: #555;
	background-color: #555;
	border: 0;
	height: 1px;
	margin: 2px 0;
	width: 240px;
}

.list-area {
  	width: 240px;
  	margin: 0;
}

.list-area a:hover {
	color: white;
}

.museum-list {
	margin: 0;
	padding: 0 10px;
}

.list-item {
	margin: 6px 0;
	display: flex;
	width: 240px;
}

.list-item-text > a {
	color: gray;
	padding: 2px 0 0 0;
}

.list-item-text {
	display: block;
	padding: 0;
	margin: 0 5px 0 0;
	width: 200px;
}

.star {
	height: 16px;
	width: 16px;
	float: left;
	margin: -2px 0 0 0;
}

.star-fav {
	font-size: 17px;
	color: #FFD700;
}

.star-def {
	font-size: 16px;
	color: gray;
}

.app {
	width: 100%;
	height: 100%;
}

.foursquare-main {
	display: flex;
}

.foursquare-icons {
	display: flex;
	background-color: #4682B4;
	width: 100%;
}

.infowindow-head {
	display: inline-block;
	padding: 5px 0;
	width: 100%;
}

.infowindow-title {
	display: inline-block;
	margin: auto 0 auto 5px;
	font-size: 16px;
}

.credits {
	margin: auto auto 5px auto;
	width: 240px;
	text-align: center;
	font-size: 12px;
}

.credits-text {
	font-size: 12px;
	padding: 5px;
}

.map-reset {
	position: fixed;
	right: 20px;
	bottom: 25px;
	z-index: 98;
	background: #3A4045;
	color: white;
	border: none;
	padding: 5px 8px;
}

.eventful-badge,
.eventful-badge * {
	color: #CCC;
	margin: 0;
	display: inline-block;
}

.eventful-small {
	width: 95px;
	font-size: 11px;
	line-height: 11px;
}

.center-text {
	text-align: center;
}

.overflow-ellipsis {
	overflow: hidden;
  	white-space: nowrap;
	text-overflow: ellipsis;
}

.foursquare-info {
	padding: 4px 0 0 5px;
}

.eventful-title {
	margin: 5px;
}

.event-date {
	width: 39px;
	text-align: right;
}

.event-link {
	max-width: calc(100% - 39px);
}

.infotext-flex {
	display: flex;
}

.status-red {
	color: #8B0000;
}

.status-orange {
	color: #FF8C00;
}

.status-blue {
	color: #4169E1;
}
